MONGO_INITDB_DATABASE=bookings
MONGO_INITDB_ROOT_USERNAME=sensomedia_hw
MONGO_INITDB_ROOT_PASSWORD=out4time
MONGO_PORT_HOST=27017
MONGO_PORT_CONTAINER=27017
MONGO_HOST=localhost

# Ha bekapcsoljuk (true), akkor az docker/mongodbo/init.d/init.sh futása során
# a MongoDB createCollection() -jéhez hozzáadásra kerül a options.validator.
# Lehet így is használni, viszont ilyenkor érdemes tudni, hogy a ZOD-dal
# megvalósított "shared" validation Frontend és Backend oldalon "sérül"!
# (Single source of truth) Ugyanis a ZOD struktúrája nem feleltethető meg
# 1:1-ben a MongoDB validator schema-jának! (pl.: ObjectId)
#
# Elfogadott értékek: true/false
MONGO_SHOULD_VALIDATE_COLLECTIONS=false
